body {
    background-color: #101114;
    margin: 0px;
    font-family: Tahoma, Geneva, sans-serif;
}

#visualization {
    position: absolute;
    top: 0px;
    margin: 0px;
    padding: 0px;
    left: 0px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.title {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 6px 5px 5px 10px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    color: #005c9b;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.subtitle {
    position: absolute;
    top: 45px;
    left: 0px;
    padding:8px 5px 5px 10px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.control-sidebar {
    width: 400px;
    margin: 82px 10px 0px 10px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
}

.control-sidebar.right {
    
    margin-top: 20px;
    float: right;
}

.control-container {
    padding: 0px;
    margin: 0px 0px 15px 0px;
    border: 1px solid #005c9b;
    border-radius: 10px;
    padding: 10px;
    background-color: #00253f;
    opacity: 0.75;
    color: white;
}

.control-container .header {
    font-weight: bold;
}

.control-container .subheader {
    font-weight: normal;
    font-style: italic;
    font-size: small;
}

.control-container .expand-icon {
    float: right;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.control-container .inner-container {
    margin: 0px 5px 0px 5px;
    display: none;
}

.query-example {
    margin: 2px 0px 0px 5px;
    font-size: smaller;
}

.query-example:hover {
    font-weight: bold;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
}

#run-validation {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
}

#cancel-validation {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    display: none;
}

#wait {
    display: none;
}

#wait img {
    width: 40px;
    height: 40px;
    top: 10px;
    left:360px;
    position: absolute;
}

tr:hover {
    font-weight: bold;
}

.selected {
    font-weight: bold;
    font-style: italic;
}
.error-begin {
    font-family: monospace;
}

.error-end {
    font-family: monospace;
    color: red;
}

.error-text {
    font-size: smaller;
}

#weight_outer {
    overflow: hidden;
    margin-top: 10px;
}

#weight_left {
    float: left;
    width: 150px;
}

#weight_right {
    margin-left: 220px;
}

.weight_group {
    border: 1px solid #005c9b;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    padding-left: 10px;
    padding-right: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.weight_item {
    border: 1px solid #005c9b;
    border-radius: 10px;
    margin: 3px 0px 3px 15px;
    padding-left: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.weight_item input {
    float: right;
    width: 30px;
    height: 15px;
    margin-top: 2px;
    margin-right: 3px;
    border: 1px solid #005c9b;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
}

#weight_left .weight_item input {
    width: 40px;
}

.weight_item input:focus {
    outline-style: none;
}

#rawresult {
    resize: none;
    width: 364px;
    height: 440px;
    white-space: pre;
    overflow-x: auto;
    tab-size: 2;
    -moz-tab-size: 2;
}

#about a {
    color: #0090f3;
}
#about ul {
    padding-left: 20px;
}