body {
    background-color: #101114;
    margin: 0px;
    font-family: Tahoma, Geneva, sans-serif;
    overflow: hidden;
}

#visualization {
    position: absolute;
    top: 0px;
    margin: 0px;
    padding: 0px;
    left: 0px;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.title {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 6px 5px 5px 10px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    color: #005c9b;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.title a {
    color: #005c9b;
    text-decoration: none;
}

.subtitle {
    position: absolute;
    top: 45px;
    left: 0px;
    padding:8px 5px 5px 10px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.control-sidebar {
    width: 450px;
    margin: 82px 10px 0px 10px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    max-height: calc(100vh - 82px);
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 92, 155, 0.75) rgba(0, 0, 0, 0);
}

.control-sidebar::-webkit-scrollbar {
    width: 10px;
}

.control-sidebar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    margin-left: 1px;
}

.control-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 92, 155, 0.75);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    opacity: 0.75;
}

.control-sidebar.right {
    margin: 0px 0px 0px 0px;
    top: 20px;
    right: 10px;
    position: absolute;
}

.control-sidebar.middle {
    width: calc(100vw - 490px);
}

.control-container {
    padding: 0px;
    margin: 0px 0px 15px 0px;
    border: 1px solid #005c9b;
    border-radius: 10px;
    padding: 10px;
    background-color: #00253f;
    opacity: 0.75;
    color: white;
}

.control-container .header {
    font-weight: bold;
}

.control-container .header_noclick {
    font-weight: bold;
}

.control-container .subheader {
    font-weight: normal;
    font-style: italic;
    font-size: small;
}

.control-container .expand-icon {
    float: right;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.control-container .inner-container {
    margin: 0px 5px 0px 5px;
    display: none;
}

.control-container .inner-container-always_expanded {
    margin: 0px 5px 0px 5px;
}

#video_placeholder {
    box-sizing: border-box;
    min-height: 245px;
    padding: 20px 0px 0px 63px;
    font-size: large;
}

#video {
    border: 1px solid #005c9b;
    position: absolute;
    top: 280px;
    right: 25px;
    display: none;
}

.query-example {
    margin: 2px 0px 0px 5px;
    font-size: smaller;
}

.query-example:hover {
    background-color: #005c9b;
}

#query_entry table {
    width: 100%;
}

#query_entry tr td {
    white-space: nowrap;
}

#query_entry tr td:last-child {
    width: 100%;
}

#final_query {
    word-wrap: break-word;
    display: none;
}

#router_list {
    display: none;
}

#raw_result {
    display: none;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
}

#query_entry textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    overflow-x: auto;
}

#run-validation {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
}

#cancel-validation {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    display: none;
}

#wait {
    display: none;
}

#wait img {
    width: 40px;
    height: 40px;
    top: 10px;
    left:360px;
    position: absolute;
}

#weight_entry .inner-container {
    font-size: smaller;
}

#weight_entry #weight_outer {
    font-size: initial;
}

#weight_entry table {
    width: 100%;
}

#query_result .inner-container {
    font-size: smaller;
}

#query_result tr:hover:not(.selected) {
    background-color: #005c9b;
}

#query_result .subheader {
    margin-left: 10px;
    font-size: inherit;
    font-weight: inherit;

}

#query_result .satisfied {
    color: lightgreen;
}

#query_result .not-satisfied {
    color: red;
}

#query_result .inconclusive {
    color: yellow;
}

#router_list_routers li:hover:not(.selected), #router_list_interfaces li:hover:not(.selected) {
    background-color: #005c9b;
}

.selected {
    background-color: #0090f3;
}

.rule {
    color: #0090f3;
}

.error-begin {
    font-family: monospace;
}

.error-end {
    font-family: monospace;
    color: red;
}

.error-text {
    font-size: smaller;
}

#weight_outer {
    overflow: hidden;
    margin-top: 10px;
}

#weight_left {
    float: left;
    width: 200px;
}

#weight_right {
    margin-left: 240px;
}

.weight_group {
    border: 1px solid #005c9b;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
    padding-left: 10px;
    padding-right: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.weight_item {
    border: 1px solid #005c9b;
    border-radius: 10px;
    margin: 3px 0px 3px 15px;
    padding-left: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.weight_item input {
    float: right;
    width: 30px;
    height: 15px;
    margin-top: 2px;
    margin-right: 3px;
    border: 1px solid #005c9b;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
}

#weight_left .weight_item input {
    width: 40px;
}

.weight_item input:focus {
    outline-style: none;
}

.weight_add,.weight_del {
    float: right;
    cursor: pointer;
}

#weight_left .weight_add {
    display: none;
}

#weight_right .weight_del {
    display: none;
}

#weight_list {
    min-height: 100px;
}

.saved_block, #router_outer {
    overflow: hidden;
    margin-top: 10px;
}

#router_left {
    float: left;
    width: 250px;
}

#router_middle {
    float: left;
    margin-left: 50px;
    width: 300px;
}

#router_right {
    margin-left: 650px;
}

#rawresult {
    box-sizing: border-box;
    resize: vertical;
    width: 100%;
    height: 540px;
    white-space: pre;
    overflow-x: auto;
    tab-size: 2;
    -moz-tab-size: 2;
}

#about a {
    color: #0090f3;
}

#about ul {
    padding-left: 20px;
}

#about .subheader {
    font-style: normal;
    font-size: initial;
    font-weight: bold;
    color: #0090f3;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    user-select: none;
}

#about .subheader a {
    text-decoration: none;
}

.delete {
    margin-left: 10px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.delete:hover {
    background-color: red;
    color: white;
}